<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CoderDojo</title>
</head>
<body>
  <h1>Coder Dojo</h1>
  <p>hola :3</p>
  <p>
    "Programación para todos: Coder Dojo" donde los jóvenes puedan explorar la codificación de una manera divertida y accesible.
  </p>
  <button><a>MAS INFORMACIÓN</a></button>
  <button><a>REGISTRASE</a></button
</body>
<footer>copy; 2024 CoderDojo. Todos los derechos reservados</footer>
</html>